/* ######## App.css stylesheet ######## */

/* ###### Color variables in root element ###### */
:root {
  /* Primary colors */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  /* Neutral colors */
  --card-bg-blue: hsl(216, 50%, 16%);
  --line-blue: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

/* #### General styles #### */
.App {
  display: flex;
  justify-content: center;
}

.main-body {
  display: flex;
  flex-direction: column;
  padding: 5%;
  background-color: var(--card-bg-blue);
  border-radius: 20px;
  width: 70%;
}
/* #### End of General styles #### */

/* #### Styles for Main logo #### */
.main-logo-div {
  border-radius: inherit;
  position: relative;
  cursor: pointer;
}

.main-logo {
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.hover-container {
  background-color: var(--Cyan);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: opacity 0.3s linear;
}

.hover-icon {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s linear;
}

/* # Hover styles for elements # */
.main-logo-div:hover .hover-container {
  opacity: 0.4;
}

.main-logo-div:hover .hover-icon {
  opacity: 1;
}
/* #### End of Main logo styles #### */

/* #### Styles for info body #### */
/* ## General info body styles ## */
.info-body-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-section {
  display: flex;
  flex-direction: column;
}

.info-heading {
  font-family: "Outfit", sans-serif;
  font-size: clamp(22px, 1.528vw, 30px);
  font-weight: 600;
  color: var(--White);
  width: fit-content;
  transition: color 0.3s linear;
  cursor: pointer;
}
/* # Hover style for info heading # */
.info-heading:hover {
  color: var(--Cyan);
}

.info-paragraph {
  font-family: "Outfit", sans-serif;
  font-size: clamp(18px, 1.25vw, 26px);
  font-weight: 300;
  line-height: clamp(26px, 1.806vw, 36px);
  color: var(--Soft-blue);
  margin: 0 0 3% 0;
}
/* ## End of General info body styles ## */

/* ## Styles for info body price section ## */
.info-price-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--line-blue);
}

.info-box {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  width: 13%;
  height: fit-content;
}

.price-paragraph {
  font-family: "Outfit", sans-serif;
  font-size: clamp(16px, 1.111vw, 26px);
  font-weight: 600;
  color: var(--Cyan);
}

.clock-icon {
  width: 20%;
  height: fit-content;
}

.regular-paragraph {
  font-family: "Outfit", sans-serif;
  font-size: clamp(16px, 1.111vw, 26px);
  font-weight: 400;
  color: var(--Soft-blue);
}
/* ## End of styles for info body price section ## */

/* ## Styles for info body user section ## */
.user-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
}

.user-avatar {
  width: 10%;
  height: fit-content;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
}

.username {
  color: var(--White);
  transition: color 0.3s linear;
  cursor: pointer;
}

/* # Username hover # */
.username:hover {
  color: var(--Cyan);
}
/* ## End of styles for info body user section ## */

/* #### Responsive design #### */
/* ## Tablet responsive design ## */
@media screen and (max-width: 768px) {
  .main-body {
    width: 50%;
  }
}

/* ## Mobile responsive design ## */
@media screen and (max-width: 425px) {
  .App {
    width: 100vw;
  }

  .main-body {
    width: 80%;
  }

  .info-box {
    width: 35%;
  }
}

/* ## Smaller mobile responsive design ## */
@media screen and (max-width: 320px) {
  .info-box {
    width: 40%;
  }
}
/* #### End of responsive design #### */